@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/effect-cards";
@import "swiper/css/navigation";
@import "swiper/css/scrollbar";

::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171717;
}

.swiper {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-around !important;
}

.swiper-button-prev,
.swiper-button-next {
  position: initial !important;
  color: #9a34e8 !important;
}

.swiper-pagination {
  width: auto;
}

.swiper-pagination-fraction {
  left: auto;
}

.swiper-pagination-bullet-active {
  background-color: #f2b700 !important;
  padding: 8px;
}

.swiper-pagination-bullet {
  padding: 8px;
  background-color: #00000080 !important;
}

.swiper-scrollbar-drag {
  background-color: #9a34e8 !important;
}

.swiper-scrollbar {
  background-color: #f2b700 !important;
}

.hamburger-react {
  color: #f2b700;
  z-index: 50;
}
