@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #171717;
}

.swiper-pagination-bullet-active {
  background-color: #f2b700 !important;
  padding: 8px;
}

.swiper-pagination-bullet {
  padding: 8px;
  background-color: #00000080 !important;
}

.hamburger-react {
  color: #f2b700;
  z-index: 50;
}

.l {
  /* stroke-dasharray: 2700;
  stroke-dashoffset: 2700; */
  /* animation: logo 5s linear alternate infinite; */
}

@keyframes logo {
  0% {
    /* fill: #f2b700; */
    stroke-dashoffset: 822;
  }

  /* 50% {
    fill: #9a34e8;
    stroke-dashoffset: 1000;
  } */

  100% {
    /* fill: #9a34e8; */
    stroke-dashoffset: 0;
  }
}
